@charset "utf-8";
/* CSS Document */

.vuecarouseldiv1
{
	width:100% !important;top:4px !important;min-width:100% !important;
}

.width200
{
	min-width:200px;
}
.gallerycontainer
{
	width:97%;text-align:center;padding:1%;max-height:500px;overflow-x:none;overflow-y:auto;
}
.carouselimage
{
	max-width:99% !important;margin:1% !important;cursor:pointer !important;
}

.padcontact
{
	height:auto !important;
	padding-top:60px !important;padding-bottom:120px !important;width:90% !important;text-align:center !important;
}
.resultclass
{
	width:90%  !important;color:red  !important;margin:10px  !important;padding:10px  !important;font-family:Calibri  !important;
	font-size:20px  !important;
}
.black
{
	color:#000 !important;
}
.zindex999
{
	z-index:999 !important;
}
.lister ul li
{
	list-style:circle !important;margin-left:14px !important;
}

.pre-formatted 
{
  white-space: pre !important;
}
.pre-formatted2 
{
  white-space: pre !important;
}

.imagefix1
{
	max-width:100% !important;margin-top:6px; margin-bottom:8px;max-height:200px !important;
	min-width:200px !important;height:200px !important;width:200px !important;
}

.imagefix2
{
	max-width:250px !important;margin-top:9px; margin-bottom:11px;max-height:200px !important;
	min-width:250px !important;height:220px !important;width:250px !important;
}
.input1
{
	max-width:290px !important;height:40px;
}
.imagefix3
{
	max-width:100% !important;margin-top:6px; margin-bottom:8px;max-height:200px !important;
	height:200px !important;
}

.heigter5
{
	height:458px !important;min-height:458px !important;max-height:458px !important;margin-top:12px !important;
	margin-bottom:14px !important;
	
}

.heigter4
{
	height:318px !important;min-height:318px !important;max-height:318px !important;margin-top:6px !important;
	margin-bottom:6px !important;
}

.heigter3
{
	height:408px !important;min-height:408px !important;max-height:408px !important;margin-top:12px !important;
	margin-bottom:14px !important;
	
}

.heigter2
{
	height:278px !important;min-height:278px !important;max-height:278px !important;margin-top:6px !important;
	margin-bottom:6px !important;
	
}
.heigter
{
	height:88px !important;min-height:88px !important;max-height:88px !important;width:96% !important;max-width:300px !important;
}
.col33
{
	float:left;display:inline-block;width:32%;
}
.border1
{
	border:1px solid #ccc;
}
.border2
{
	border:1px solid #999;
}
.borderedmargindiv
{
	width:98%;border:1px solid #ccc;padding:1%;float:left;height:auto;
}

.button1
{
	width:100px;height:30px;background-color:#000;color:#fff;text-align:center;padding:6px 4px 2px 6px;
}
.button1:hover
{
	color:red;background-color:#666;
}
.width100
{
	width:100% !important;
}

.heightscroll
{
	height:200px;overflow:auto;
}
.homeeventimg
{
	max-width:98% !important;max-height:195px !important;
}
.evimg
{
	max-width:100% !important;max-height:255px !important;
}
.archimg
{
	max-width:100% !important;max-height:225px !important;
}
.login
{
	margin-left:0px !important;margin-right:0px !important;color:red;
}
.cursor
{
	cursor:pointer !important;
}

.iframe
{
	border:0px !important;
}
.iframe2
{
	border:0px !important;width:98% !important;height:300px !important;
}
.iframe.full
{
	border:0px !important;width:98% !important;height:400px !important;margin:6px;
}
.max150-150
{
	max-width:150px;max-height:150px;
}
.maximg
{
	max-width:100%;
}
.maximg96
{
	max-width:96%;
}

.maximg92height400
{
	max-width:96%;max-height:400px;
}

.font600
{
	font-weight:600 !important; 
}

.ulnav
{
	width:100%;clear:both;float:left;margin-top:10px;
}

.marginleft5
{
	margin-left:5px !important;
}
.margintop8-4-5
{
	margin-top:8px  !important;margin-bottom:5px  !important;margin-right:5px;
}


.margintop8
{
	margin-top:8px  !important;
}
.margintop8-8
{
	margin-top:8px  !important;margin-bottom:8px !important;
}
.margintop5
{
	margin-top:8px  !important;
}

.red
{
	color:red !important;
}

.black{
	color:#000 !important;
}

.hr1 , .hr2 , .hr3 , .hr4
{
	margin:15px 2px 11px 5px !important;width:96% !important;clear:both !important;line-height:18px !important;
	min-width:140px !important;float:left;
}
.hr1
{
	color:#333 !important;height:2px !important;background-color:#333 !important;
}
.hr4
{
	color:#333 !important;height:1.1px !important;background-color:#333 !important;max-height:1.1px !important;
}

.hr2
{
	color:#666 !important;height:1.3px !important;background-color:#666 !important;
}
.hr3
{
	color:#999 !important;height:0.4px !important;background-color:#999 !important;max-height:0.4px;
}

.gray1{
	color:#333!important;
}
.purple
{
	color:#df42b1 !important;
}
.ulnav li
{
	list-style:none;clear:none;display:inline-block;margin:4px;float:left;
}

.ulnav li a
{
	list-style:none;clear:none;display:inline-block;margin:4px;float:left;
}

.divider
{
	width:99%;clear:both;margin:3px;float:left;max-height:3px;height:3px;
}
.fulldiv
{
	width:100%;clear:both;margin:3px auto 3px 0px;display:inline-block;min-width:100%;max-height:40px;
}
.nav-link
{
	padding-top:0px !important;
}
.navbar-nav.inline-block 
{
  display: inline-block !important; padding-left: 0; margin-bottom: 0;list-style: none;
}

textarea
{
	min-height:150px !important;
}

.ck-editor__editable_inline {
    min-height: 450px !important;min-width:680px !important;
}

.white , .white p , .white td , .white *
{
	color:#fff !important;
	
}
.bold
{
	font-weight:800 !important;
	
}

.zindex99
{
	z-index:999 !important;
}


.flex
{
	display: flex !important;width:auto;
}


.floatauto , .floatauto2
{
	float:left;width:auto;
}
.floatauto2
{
	clear:none;
}
.autoheight
{
	height:auto !important;
}
.floatleft
{
	float:left !important;
}
.displayline
{
	display:inline;
}
.displayinlineblock
{
	display:inline-block;
}
.displayinlineblocknone
{
	display:inline-block;clear:none;
}
.justify
{
	text-align:justify;
}
.displayblock
{
	display:block;
}
.displayblockclearnone
{
	display:block;clear:none;
}
.floatleftinlineblock
{
	float:left;display:inline-block;
}
.floatleftinline
{
	float:left;display:inline;
}
.floatrightinlineblock
{
	float:right;display:inline-block;
}
.floatright
{
	float:right;
}



.floatrightinlineblockright , .floatrightinlineblockright98 , .floatrightinlineblockright97  , .floatrightinlineblockright98m ,
.floatrightinlineblockrightfull , .floatrightinlineblockright95 , .floatrightinlineblockright90
{
	float:right;display:inline-block;text-align:right;
}
.floatrightinlineblockrightfull
{
	width:100%;clear:both;margin:0px;
}
.floatrightinlineblockright98
{
	width:98%;clear:both;margin:3px 1% 3px 1%;
}
.floatrightinlineblockright98m
{
	width:98%;clear:both;margin:2px 1% 2px 1%;
}
.floatrightinlineblockright97
{
	width:97%;clear:both;margin:6px 1% 6px 1%;
}
.floatrightinlineblockright95
{
	width:95%;clear:both;margin-right:5%;
}
.floatrightinlineblockright90
{
	width:90%;clear:both;margin-right:9%;
}
.floatclear , .floaclear100 ,  .floatlear100, .floatclear97 , .floatclear97left , .floatclear97left100, 
.floatclear95left100,
.floatclear5 
{
	float:left;clear:both;
}
.clearfloat
{
	float:left;clear:both;text-align:left;width:100%;
}  
.clear
{
	clear:both;
}
.floatclear4-4, .floatclear8-8 , .floatclear4-4pure , .divfloatclear100 , .floatclear11-11 , .floatclear1-1 , .floatclear2-2
{
	float:left;clear:both;text-align:left;width:100%;
}
.floatclear4-4
{
	margin-top:4px !important;margin-bottom:4px !important;
}
.floatclear2-2
{
	margin-top:1px !important;margin-bottom:1px !important;
}
.floatclear1-1
{
	margin-top:1px !important;margin-bottom:1px !important;
}
.floatclear8-8
{
	margin-top:6px !important;margin-bottom:6px !important;
}
.floatclear11-11
{
	margin-top:6px !important;margin-bottom:6px !important;height:8px !important;
}
.floaclear100 , .floatlear100
{
	width:100% !important;
}
.floatclear5
{
	height:5px;margin-top:1px;margin-bottom:1px;width:99%;
}
.floatlear1004-4 , .floatlear1008-8
{
	width:100%;float:left;clear:both;
}
.blocklear1004-4 , .blocklear1008-8 ,  .blocklear10010-10 ,  .blocklear10012-12 , .blocklear10014-14 , 
.blocklear1008-18 ,  .blocklear10018-18 , .blocklear1002-2 , .blocklear1005-2
{
	width:100% !important;display:inline-block !important;clear:both !important;
}
.blocklear1008-8special
{
	width:96%;display:inline-flex;clear:both;margin:7px 0px 7px 10px;
}

.full100
{
	min-width:100% !important;width:100% !important;
}
.max400
{
	max-height:400px !important;
}
.max500
{
	max-height:500px !important;
}
.max600
{
	max-height:600px !important;
}
.blocklear1005-2
{
	margin-top:5px;margin-bottom:2px;
}
.blocklear1002-2
{
	margin-top:2px;margin-bottom:2px;
}
.blocklear1004-4
{
	margin-top:4px;margin-bottom:4px;
}
.floatlear1008-8
{
	margin-top:8px;margin-bottom:8px;
}
.blocklear1004-4
{
	margin-top:4px;margin-bottom:4px;
}
.blocklear1008-8
{
	margin-top:8px;margin-bottom:8px;
}
.blocklear10010-10   
{
	margin-top:10px;margin-bottom:10px;
}
.blocklear10012-12
{
	margin-top:12px;margin-bottom:12px;
}
.blocklear10014-14
{
	margin-top:14px;margin-bottom:14px;
}
.blocklear1008-18
{
	margin-top:8px;margin-bottom:18px;
}
.blocklear10018-18
{
	margin-top:18px;margin-bottom:18px;
}
.floatclear97
{
	width:97%;
}
.floatclear97left, .floatclear97left100 , .floatclear95left100
{
	text-align:left;
}
.floatclear97left100
{
	width:97%;margin-left:2%;margin-top:4px;margin-bottom:6px;
}
.floatclear95left100
{
	width:94%;margin-left:5%;margin-top:4px;margin-bottom:6px;
}
.displayinlineblockclear , .displayinlineblockclear100 , .displayinlineblockclear97,
.displayinlineblockclearcenter , .displayinlineblockclear100center , .displayinlineblockclear97center
 , .displayinlineblockclear95center-2
{
	clear:both;display:inline-block;
}
.displayinlineblockclear100
{
	width:100%;
}
.displayinlineblockclear97
{
	width:97%;
}
.displayinlineblockclearcenter
{
	text-align:center;width:100%;
}
.displayinlineblockclear100center
{
	text-align:center;width:100%;
}
.displayinlineblockclear97center
{
	text-align:center;width:97%;margin-top:5px !important;margin-bottom:5px !important;
}
.displayinlineblockclear95center-2
{
	text-align:center;width:95%;margin-top:24px !important;margin-bottom:12px !important;
}
.margintopm7
{
margin-top:-7px !important;
}
.margintopbottom2
{
	margin-top:2px !important;margin-bottom:2px !important;
}
.margintop5
{
	margin-top:5px !important;
}
.margintop2
{
	margin-top:2px !important;
}
.margintopbottom4
{
	margin-top:4px !important;margin-bottom:4px !important;
}
.margintopbottom5
{
	margin-top:5px !important;margin-bottom:5px !important;
}
.marginbottom5
{
	margin-bottom:5px !important;
}
.marginbottom2
{
	margin-bottom:2px !important;
}
.margintop3
{
	margin-top:3px !important;
}
.margintop5
{
	margin-top:5px !important;
}
.margintop8
{
	margin-top:8px !important;
}
.margintop8desk
{
	margin-top:8px !important;
}
.margintopbottom8
{
	margin-top:8px !important;margin-bottom:8px !important;
}
.marginbottom8
{
	margin-bottom:8px !important;
}
.margintop7
{
	margin-top:7px !important;
}
.margintopbottom7
{
	margin-top:7px !important;margin-bottom:7px !important;
}
.marginbottom7
{
	margin-bottom:7px !important;
}
.margintop10
{
	margin-top:10px !important;
}
.margintopbottom10
{
	margin-top:10px !important;margin-bottom:10px !important;
}
.margintop15bottom10
{
	margin-top:15px !important;margin-bottom:10px !important;
}
.margintop4
{
	margin-top:4px !important;
}
.marginto3pbottom7
{
	margin-bottom:7px !important;margin-top:3px !important;
}
.margintop12
{
	margin-top:12px !important;
}
.marginto3pbottom12 , .margintop3bottom12
{
	margin-bottom:12px !important;margin-top:3px !important;
}
.margintop18bottom10
{
	margin-top:18px !important;margin-bottom:10px !important;
}
.marginbottom10
{
	margin-bottom:10px !important;
}
.margintop11
{
	margin-top:11px !important;
}
.margintopbottom11
{
	margin-top:11px !important;margin-bottom:11px !important;
}
.marginbottom11
{
	margin-bottom:11px !important;
}
.margintop15
{
	margin-top:15px !important;
}
.margintopbottom15
{
	margin-top:15px !important;margin-bottom:15px !important;
}
.marginbottom15
{
	margin-bottom:15px !important;
}
.margintop20
{
	margin-top:20px !important;
}
.margintop25
{
	margin-top:25px !important;
}
.margintop30
{
	margin-top:30px !important;
}
.margintop40
{
	margin-top:40px !important;
}
.margintop45
{
	margin-top:45px !important;
}
.margintop50
{
	margin-top:45px !important;
}
.margintopbottom20
{
	margin-top:20px !important;;margin-bottom:20px !important;
}
.marginbottom20
{
	margin-bottom:20px !important;;
}

.marginleft10percent
{
	margin-left:10% !important;;
}
.marginleft20
{
	margin-left:20px !important;;
}
.marginleft15
{
	margin-left:15px;
}
.marginleft10
{
	margin-left:10px;
}
.divautofloat
{
	float:left;width:auto;margin-left:2px;margin-right:2px;
}
.displayblockautofloat
{
	display:inline-block;width:auto;margin-left:4px;margin-right:4px;
}
.fulldiv , .fulldivfloat ,  .fullfloat , .fulldivblock ,   .fullblock  , .fulldivblockfloat
{
 	width:100%;clear:both;
} 
.fulldivfloat  , .fullfloat  , .fulldivblockfloat
{
	float:left;
}
.fulldivblock  , .fullblock , .fulldivblockfloat 
{
	display:inline-block;
}
.center
{
	text-align:center !important;
}
.left
{
	text-align:left;
}
.right
{
	text-align:right;
}
.alignleft
{
	text-align:left !important;
}
.aligncenter
{
	text-align:center !important;
}
.alignright
{
	text-align:right !important;
}
.marginleft2
{
	margin-left:2px !important;
}
.marginleft3
{
	margin-left:3px !important;
}
.marginleft4
{
	margin-left:4px !important;
}
.marginleft5
{
	margin-left:5px !important;
}
.marginright2
{
	margin-right:2px !important;
}
.marginright3
{
	margin-right:3px !important;
}
.marginright4
{
	margin-right:4px !important;
}
.marginright6
{
	margin-right:6px !important;
}
.marginright8
{
	margin-right:8px !important;
}
.marginright10
{
	margin-right:10px !important;
}
.marginright12
{
	margin-right:12px !important;
}
.marginright14
{
	margin-right:14px !important;
}
.vertcalmiddle
{
	vertical-align:middle;
}

.margintopminus5
{
	margin-top:-5px;
}
.margintopminus8
{
	margin-top:-8px;
}
.margintopminus10
{
	margin-top:-10px;
}
.share-side.full 
{
    float: left; width: 90%; margin-top: 20px;text-align:left;
}
.maxheight26
{
	height:26px !important; max-height:26px !important;
}
@media screen and (min-width: 1px) and (max-width: 730px)   
{
	.margintop8desk
	{
		margin-top:0px !important;
	}
}



.div1
{
	
	margin:3px;display: inline-block;
}
.input
{
	margin:3px;border:1px solid;height:24px;
}

.clear
{
	clear:both;
}

.full
{
	clear:both;width:98%;margin:5px;float:left; 
}

button , .btn
{
	font-size:14px;font-family:inherit;border:1px solid;
	border-radius:3px;padding:5px;height:30px;
}
.display45 , .display32 , .display20 , .display55 , .display15 , .display65
{
	display:inline;float:left;margin:3px;
}
.display65
{
	
	 width:65%;
}
.display55
{
	
	 width:55%;
}
.display45
{
	
	 width:45%;
}
.display32
{
	
	 width:32%;
}

.display20
{
	
	 width:20%;
}
.display15
{
	
	 width:15%;
}

.left{
	text-align:left !important;
	
}

.center{
	text-align:center !important;
	
}
textarea
{
	margin:3px;border:1px solid;height:124px;margin:10px 0;
}

a
{
	text-decoration:none;
}

.dropdown-item a , .nav-link a  , .nav-link , .dropdown-item
{
	color:#000 !important;font-family: "Nunito", sans-serif;font-size:14px;
}

.bgwhite
{
	background-color:#FFFFFF;

}

.displayinlin4
{
	display:inline;width:auto;
}

.checkerbox
{
	width:40px;height:30px;margin-left:11px;
}
@media (min-width: 992px){
	.dropdown-menu .dropdown-toggle:after{
		border-top: .3em solid transparent;
	    border-right: 0;
	    border-bottom: .3em solid transparent;
	    border-left: .3em solid;
	}
	
	.dropdown-item a , .nav-link a
	{
		color:#000 !important;
	}
	.dropdown-menu .dropdown-menu{
		margin-left:0; margin-right: 0;
	}
	.dropdown-menu li{
		position: relative;
	}
	.nav-item .submenu{ 
		display: none;
		position: absolute;
		left:100%; top:-7px;
	}
	.nav-item .submenu-left{ 
		right:100%; left:auto;
	}
	.dropdown-menu > li:hover{ background-color: #f1f1f1 }
	.dropdown-menu > li:hover > .submenu{
		display: block;
	}
}

.btn-danger
{
	padding-top:4px !important;
}