@charset "utf-8";
/* CSS Document */

@import url("font.css");

.layer4
{
	width:100%;text-align:center;height:auto;float:left;clear:both;padding-top:8%;padding-bottom:0px;margin-bottom:0px;
}
.layer4left , .layer4mid  , .layer4right 
{
	display:inline-block;margin-bottom:0px;
}

.layer4left
{
	/*76 1300*/
	padding:0px;width:5%;float:left;
	
}
.layer4mid
{
	/*1160 1300 */
	width:88%;text-align:center;vertical-align:bottom;
}

.layer4right
{
	/*64 1300 */
	width:5%;
	
	
}


@media all and (min-width: 1500px) and (max-width: 1600px) 
{

}
@media all and (min-width: 1400px) and (max-width: 1500px) 
{

}
@media all and (min-width: 1300px) and (max-width: 1400px) 
{

}
@media all and (min-width: 1200px) and (max-width: 1300px) 
{

}
@media all and (min-width: 1150px) and (max-width: 1200px) 
{

}
@media all and (min-width: 1100px) and (max-width: 1150px) 
{

}
@media all and (min-width: 1000px) and (max-width: 1100px) 
{
	
}
@media all and (min-width: 900px) and (max-width: 1000px) 
{
	
}
@media all and (min-width: 800px) and (max-width: 900px)
{ 
	
}
@media all and (min-width: 850px) and (max-width: 900px)
{ 
	
}
@media all and (min-width: 800px) and (max-width: 850px)
{ 
	
}
@media all and (min-width: 700px) and (max-width: 800px) 
{
	
}
@media all and (min-width: 600px) and (max-width: 700px) 
{
	
}

@media all and (min-width: 550px) and (max-width: 600px) 
{

}

@media all and (min-width: 500px) and (max-width: 550px) 
{

}

@media all and (min-width: 400px) and (max-width: 500px) 
{


}

@media all and (min-width: 450px) and (max-width: 500px) 
{

}

@media all and (min-width: 400px) and (max-width: 450px) 
{

}

@media all and (min-width: 350px) and (max-width: 400px) 
{

}

@media all and (min-width: 1px) and (max-width: 350px) 
{

}